{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

	<h1>Ici c'est la page blog avec le code de JF</h1>

	{% for article in articles %}
		{% if article.public %}
			{{article.title}}
			{{article.content}}
			<br>
		{% endif %}
	{% endfor %}
{% endblock %}
