{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!
{% endblock %}

{% block body %}
	<h1>{{ article.title }}</h1>
	{# <img src="../assets/images/{{article.image}}" alt=""> #}
	<img src="{{asset('images/' ~ article.image )}} " alt=""></img>


<p>{{ article.content | raw }}</p>{% endblock %}
